################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/AstroRpi/bin
/AstroRpi/obj
*.suo
/AstroLib/bin
/AstroLib/obj
/test/bin
/test/obj
/.vs/
*.user
/AstroRpi/wwwroot/Sessions
/AstroRpi/wwwroot/preview.jpg
