################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/AstroCamPi/bin
/AstroCamPi/obj
*.suo
/AstroLib/bin
/AstroLib/obj
/.vs/AstroCamPi/DesignTimeBuild
*.user
